<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PE2_EIP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PE2_EIP.Properties.Settings>
            <setting name="PathServer" serializeAs="String">
                <value>Provider=Microsoft.Jet.Oledb.4.0;Data source=\\sn-fs02\製造中心\TE_TEST\填值檔案\PE2Database\DataBase\資產管制資料庫.mdb;Jet OLEDB:Database Password=pe2asset</value>
            </setting>
            <setting name="PathLocal" serializeAs="String">
                <value>Provider=Microsoft.Jet.Oledb.4.0;Data source=D:\資產管制資料庫.mdb;Jet OLEDB:Database Password=pe2asset</value>
            </setting>
            <setting name="isServer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PathLocal2" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.14.0;Data source='D:\治具管理.accdb'</value>
            </setting>
        </PE2_EIP.Properties.Settings>
    </userSettings>
</configuration>